In [4]:
import pandas as pd

# Load the Excel file and the specific sheet
file_path = '/Users/anjalinatarajan/Documents/Example File/Example_AccountingData-TanzaniaRCT.xlsx'
sheet_name = 'Data - for Calc'

# Read the Excel file
dataframe = pd.read_excel(file_path, sheet_name=sheet_name, skiprows=3)

In [5]:
dataframe.head(10)

,Unnamed: 0,Date,Reference,Account Type Code,Account Type Description,Transaction Date,Description,Transaction Type,Amount (Shilings),Conversion Rate,...,Research implementation,Intervention design,Monitoring activities,Operational cost,Outside time window,Activity unrelated to TZ-RCT.1,Direct.1,Shared direct.1,Indirect.1,Unnamed: 44
0,0,2021-02-04,CQ001031,8420,Capacity Building Other Expenses,2021-02-04,NIMR - [Implementor name] Constraints to Healt...,Debit,1403400.00,2298.5047,...,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
1,1,2021-04-30,B/CHARGES,8760,Bank charges,2021-04-30,Bank Charges 2700 April 2021,Debit,45877.22,2298.5345,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0,NaN
2,2,2021-05-05,CQ666737,8410,Consultancy Expenses,2021-05-05,[Enum name] [Implementor name] Nutrition Proje...,Debit,11649978.00,2298.5146,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
3,3,2021-05-05,CQ000035,8420,Capacity Building Other Expenses,2021-05-05,[Implementor name] Nutrition Project Researche...,Debit,1403400.00,2298.5146,...,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
4,4,2021-05-26,CQ666813,8410,Consultancy Expenses,2021-05-26,[Enum name] [Implementor name] Nutrition Proje...,Debit,11649978.00,2298.5644,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
5,5,2021-05-31,B/CHARGES,8760,Bank charges,2021-05-31,Bank Charges 2700 [Implementor name] May 2021,Debit,44527.89,2298.5942,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0,NaN
6,6,2021-06-07,CQ001189,8680,Subscriptions and Donations,2021-06-07,NBS Research permit for [Implementor name] Ove...,Debit,3131000.00,2298.6340,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
7,7,2021-06-16,REC7121,8390,Facilitation Expenses,2021-06-16,Refund Prof [Name] Facilitation [Implementor n...,Credit,64000.00,2298.6937,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
8,8,2021-06-25,CQ666814,8410,Consultancy Expenses,2021-06-25,[Enum name] [Implementor name] Nutrition Proje...,Debit,11649978.00,2298.8330,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
9,9,2021-06-30,B/CHARGES,8760,Bank charges,2021-06-30,Bank Charges 2700 [Implementor name] June 2021,Debit,44527.89,2298.9325,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0,NaN

In [3]:
# Relevant categories
category_columns = ['Deliver coupons', 'Refund Dukas', 'Administration', 'Program operations', 'Management', 'Fundraising', 'Public cloud platform', 'Travel and local transport']

# Granular divisions for each category
granular_categories = {
    'Deliver coupons': ['Printing_Designing', 'household_visits', 'Delivering_coupons'],
    'Refund Dukas': ['recruitment', 'visits_payments', 'Collecting_coupons', 'Obtaining_coupons', 'Reviewing_redeemed_coupons', 
                     'Distributing_incentives'],
    'Program operations': ['laptops_Airtime', 'Mystery_shopping', 'Solving_issues', 'Monitoring_progress', 
                           'Program_Administrative_tasks', 'Monitoring_field_progress'],
    'Travel and local transport': ['Meeting', 'Travel_to_field']
}

In [9]:
category_sums = {}

for category in category_columns:
    category_sum = dataframe.loc[dataframe[category] == 1, 'Amount (USD)'].sum()
    category_sums[category] = category_sum

In [10]:
category_sums

{'Deliver coupons': 10628.756089625143,
 'Refund Dukas': 22844.509980520255,
 'Administration': 1758.4730717004143,
 'Program operations': 4621.8758661931115,
 'Management': 2401.975561474063,
 'Fundraising': 84.62736820945776,
 'Public cloud platform': 5531.141385022087,
 'Travel and local transport': 906.9501204887302}

In [12]:
# exclusion columns
exclude_cols = ['Evaluation-induced', 'Outside Analytical Time Window','Activity unrelated to TZ-RCT']

#calculating costs for categories with exclusions
for category in category_columns:
    filtered_df = dataframe[
        (dataframe['Evaluation-induced'] != 1) &
        (dataframe['Outside Analytical Time Window'] != 1) &
        (dataframe['Activity unrelated to TZ-RCT'] != 1) &
        (dataframe[category] == 1)
    ]
    category_sum_w_exclusions = filtered_df['Amount (USD)'].sum()
    category_sums_w_exclusions[category] = category_sum_w_exclusions

TypeError: 'numpy.float64' object does not support item assignment

In [13]:
exclude_cols = [
    'Evaluation-induced',
    'Outside Analytical Time Window',
    'Activity unrelated to TZ-RCT',
]

base_mask = dataframe[exclude_cols].ne(1).all(axis=1)

In [16]:
base_mask['Amount (USD)'].sum()

KeyError: 'Amount (USD)'